# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/parameters/
*.tar
../parameters/
../declare/
/declare/
../saved_images/
/saved_images/
../__pycache__/
/__pycache__/
